@page "/surahkafiroon"
@using System.Globalization
@inject IStringLocalizer<SurahKafiroon> Loc

<h4>@Loc["Surah of The Disbelievers"]</h4>


<h6>@Loc["s0"]</h6>


<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        @Loc["a1"]
    </font>
</p>
<p>
    @Loc["s1"]
</p>
<p>
    @Loc["t1"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
       @Loc["a2"]
    </font>
</p>
<p>
    @Loc["s2"]
</p>
<p>
    @Loc["t2"]
</p>




