@page "/duaafter1"
@using System.Globalization
@inject IStringLocalizer<DuaAfter1> Loc

<h4>@Loc["Duas After Salaah"]</h4>


<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
       عَلٰى رَسُوْلِنَا صَلَوَاتٌ * أَسْتَغْفِرُ الله * أَسْتَغْفِرُ اللهَ * أَسْتَغْفِرُ اللهَ * سُبْحَانَ اللهِ * وَ الْحَمْدُ لِلّٰهِ * وَ لاَ إِلٰهَ إلاَّ اللهُ * وَ اللهُ أَكْبَرُ * وَ لاَ حَوْلَ وَ لاَ قُوَّةَ إِلاَّ بِاللهِ الْعَلِيِّ الْعَظِيْمِ. 
    </font>
</p>
<p>
    @Loc["s3"]
    
</p>
<p>
    @Loc["t3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">

         

أَعُوْذُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ * بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ * وَ إلٰهُكُمْ إِلٰهٌ وَّاحِدٌ لاَ إِلٰهَ إِلاَّ هُوَ الرَّحْمٰنُ الرَّحِيْمُ. 

    </font>
</p>
<p>
    @Loc["s4"]
    
</p>
<p>
    @Loc["t4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">

          

اَللهُ لَآ إِلٰهَ إِلَّا هُوَ الْحَيُّ الْقَيُّوْمُ * لاَ تَأْخُذُهُ سِنَةٌ وَّ لاَ نَوْمٌ * لَهٗ مَا فِى السَّمٰوٰتِ وَ مَا فِى الأَرْضِ * مَنْ ذَا الَّذِى يَشْفَعُ عِنْدَهٗۤ إِلاَّ بِإِذْنِهٖ * يَعْلَمُ مَا بَيْنَ أَيْدِيْهِمْ وَ مَا خَلْفَهُمْ  ج وَ لاَ يُحِيْطُوْنَ بِشَيءٍ مِّنْ عِلْمِهٖۤ إِلاَّ بِمَا شَآءَ ج وَسِعَ كُرْسِيُّهُ السَّمٰوٰتِ وَ الأَرْضَ  ج وَلاَيَؤُدُهٗ حِفْظُهُمَا  ج وَ هُوَ الْعَلِيُّ الْعَظِيْمُ  ج صَدَقَ اللهُ الْعَظِيْمُ. (7 مرات). 

 

    </font>
</p>
<p>
    @Loc["s5"]
    
</p>
<p>
    @Loc["t5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
     

سُبْحَانَكَ يَا عَظِيْمُ * سُبْحَانَ اللهِ. 

سُبْحَانَ اللهِ (33 مرات). 

عَلٰى نِعْمَةِ الإِسْلاَمِ وَ شَرَفِ الإِيْمَانِ دَائِمًا * اَلْحَمْدُ لِلّٰهِ. 

اَلْحَمْدُ لِلّٰهِ (33 مرات). 

تَعَالَى شَأْنُهُ وَ لاَ إِلٰهَ غَيْرُهُ * اَللهُ أَكْبَرُ. 

اَللهُ أَكْبَرُ (33 مرات). 

 

    </font>
</p>
<p>
    @Loc["s6"]
    
</p>
<p>
    @Loc["t6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
     
     

لَاإِلٰهَ إِلاَّ اللهُ وَحْدَهُ لآ شَرِيْكَ لَهُ * لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ * يُحْيِى وَ يُمِيْتُ * وَ هُوَ عَلٰى كُلِّ شَيْءٍ قَدِيْرٌ.  

 

    </font>
</p>
<p>
    @Loc["s7"]
    
</p>
<p>
    @Loc["t7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
    سُبْحَانَ رَبِّيِ الْعَلِيِّ الأَعْلَى الْوَهَّابِ. 
    </font>
</p>
<p>
    @Loc["s8"]
    
</p>
<p>
    <strong>@Loc["t8"]</strong>
</p>

<p>
    @Loc["s9"]
    
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
     

هُوَ اَللهُ الَّذِى لَآ إِلٰهَ إِلاَّ هُوَعَالِمُ الْغَيْبِ وَ الشَّهَادَةِ * هُوَ الرَّحْمٰنُ الرَّحِيْمُ * هُوَ اللهُ الَّذِى لَآ إِلٰهَ إِلاَّ هُوَاَلْمَلِكُ الْقُدُّوْسُ السَّلاَمُ الْمُؤْمِنُ الْمُهَيْمِنُ الْعَزِيْزُ الْجَبَّارُ الْمُتكَبِّرُ * سُبْحَانَ اللهِ عَمَّا يُشْرِكُوْنَ * هُوَ اللهُ الْخَالِقُ الْبَارِئُ الْمُصَوِّرُ لَهُ الْاَ سْمَاءُ الْحُسْنٰى * يُسَبِّحُ لَهُ مَا فِى السَّمٰوٰتِ وَ اْلأَرْضِ * وَ هُوَ الْعَزِيْزُ الْحَكِيْمُ. 

 
    </font>
</p>
<p>
    @Loc["s10"]
    
</p>
<p>
    @Loc["t10"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
     هُوَ اْلأَوَّلُ وَ الْأَخِرُ وَ الظَّاهِرُ وَ الْبَاطِنُ * وَ هُوَ بِكُلِّ شَيْءٍ عَلِيْمٌ * صَدَقَ اللهُ الْعَظِيْمُ. 
 
    </font>
</p>
<p>
    @Loc["s11"]
    
</p>
<p>
    @Loc["t11"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
     

رَبَّنَا تَقَبَّلْ مِنَّا وَاعْفُ عَنَّا وَ غْفِرْ لَنَا وَ ارْحَمْنَا وَ تُبْ عَلَيْنَا وَ اهْدِنَا وَ اسْقِنَا وَ اصْلِحْ شَأْنَنَا وَ شَأْنَ الْمُسْلِمِيْنَ وَ انْصُرْنَا عَلٰى  الْقَوْمِ الْمُفْسِدِيْن وَانْصُرْ سُلْطَانَنَا سُلْطَانَ الْمُسْلِمِيْن سُلْطَانَ اِلْانْسِ وَالِجِنِّ سَيِّدِنَا الْمَهْدِي عَلَيْهِ السَّلآمُ. أَظْهَرَهُ الله... أَجَابَنَاالله. عَجَّلَهُ الله... أَجَابَنَاالله. أَيَّدَهُ الله... أَجَابَنَاالله. أَكْرَمَهُ الله... أَجَابَنَاالله. أَنْصَرَهُ الله... أَجَابَنَاالله. بِحُرْمَةِ مَنْ أَنْزَلْتَ عَلَيْهِ سُوْرَةَ الفَاتِحَةِ. 
    </font>
</p>
<p>
    @Loc["s12"]
    
</p>
<p>
    @Loc["t12"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَشْهَدُ أَنْ لَا إِلَٰهَ إِلَّا ٱللَّٰهُ وَأَشْهَدُ أَنَّ مُحَمَّدًا رَسُولُ ٱللَّٰهِ
    </font>
</p>
<p>
    @Loc["s13"]
</p>
<p>
    @Loc["t13"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَسْتَغْفِرُ اللّٰهَ
    </font>
</p>
<p>
    @Loc["s14"]
</p>
<p>
    @Loc["t14"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        
أَسْتَغْفِرُ اللهَ مِنْ كُلِّ ذَنْبٍ وَ مَعْصِيَةٍ * وَ مِنْ كُلِّ مَا يُخَالِفُ دِيْنَ الإِسْلاَمِ * يَا أَرْحَمَ الرَّاحِمِيْنَ. 
    </font>
</p>
<p>
    @Loc["s15"]
</p>
<p>
    @Loc["t15"]
</p>