@page "/duaafter2"
@using System.Globalization
@inject IStringLocalizer<DuaAfter2> Loc

<h4>@Loc["Duas After Salaah"]</h4>


<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">

        لاَ إِلٰهَ إِلاَّ اللهُ
    </font>
</p>
<p>
    @Loc["s3"]

</p>
<p>
    @Loc["t3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
    مُحَمَّدٌ رَّسُوْلُ اللهِ (ﷺ). 
    </font>
</p>
<p>
    @Loc["s4"]

</p>
<p>
    @Loc["t4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        اَللّٰهُمَّ صَلِّ عَلٰى مُحَمَّدٍ وَ عَلٰى آلِ مُحَمَّدٍ وَ سَلِّمْ (10 مرات).



    </font>
</p>
<p>
    @Loc["s5"]

</p>
<p>
    @Loc["t5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٌصَلِّ يَا رَبِّى وَ سَلِّمْ عَلٰى جَمِيْعِ الأَنْبِيَاءِ وَ الْمُرْسَلِيْنَ * وَ آلِ الْكُلِّ أَجْمَعِيْنَ * وَ الْحَمْدُ لِلّٰهِ رَبِّ الْعَالَمِيْنَ * عَلٰى أَشْرَفِ الْعَالَمِيْنَ سَيِّدِنَا مُحَمَّدَ نِ الصَّلَوَاتُ (ﷺ) * عَلٰى أَفْضَلِ الْعَالَمِيْنَ سَيِّدِنَا مُحَمَّدَ نِ الصَّلَوَاتُ (ﷺ) * عَلٰى أَكْمَلِ الْعَالَمِيْنَ سَيِّدِنَا مُحَمَّدَ نِ الصَّلَوَاتُ (ﷺ) * صَلَوَاتُ اللهِ تَعَالَى وَ مَلاَئِكَتِهِ وَ أَنْبِيَائِهِ وَ رُسُلِهِ وَ جَمِيْعِ خَلْقِهِ عَلٰى مُحَمَّدٍ وَ عَلٰى آلِ مُحَمَّدٍ * عَلَيْهِ وَ عَلَيْهِمُ السَّلاَمُ * وَ رَحْمَةُ اللهِ تَعَالَى وَ بَرَكَاتُهُ * وَ رَضِيَ اللهُ تَبَارَكَ وَ تَعَالَى عَنْ سَادَاتِنَا أَصْحَابِ رَسُوْلِ اللهِ أَجْمَعِيْنَ * وَ عَنِ التَّابِعِيْنَ بِهِمْ بِإِحْسَانٍ * وَ عَنِ الأَئِمَّةِ الْمُجْتَهِدِيْنَ الْمَاضِيْنَ * وَ عَنِ الْعُلَمَاءِ المُتَّقِيْنَ وَ عَنِ الأَوْلِيَاءِ الصَّالِحِيْنَ * وَ عَنْ مَشَايِخِنَا فَى الطَّرِيْقَةِ النَّقْشَبَنْدِيَّةِ الْعَالِيَةِ * قَدَّسَ اللهُ تَعَالَى أَرْوَاحَهُمُ الزَّكِيَّةِ * وَ نَوَّرَ اللهُ تَعَالَى أَضْرِحَتَهُمُ الْمُبَارَكَةِ * وَ أَعَادَ اللهُ تَعَالَى عَلَيْنَا مِنْ بَرَكَاتِهِمْ وَ فُيُوْضَاتِهِمْ دَائِمًا وَ الحَمْدُ لِلّٰهِ رَبِّ الْعَالَمِيْنَ * الفَاتِحَةُ.


    </font>
</p>
<p>
    @Loc["s6"]

</p>
<p>
    @Loc["t6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        إِهْدَاءٌ

        اَللّٰهُمَّ بَلِّغْ ثَوَابَ مَا قَرَأْنَاهُ * وَ نُوْرَ مَا تَلَوْنَاهُ * هَدِيَّةً وَاصِلَةً مِنَّا إِلَى رُوْحِ نَبِيِّنَا مُحَمَّدٍ (ﷺ) وَ إِلَى أَرْوَاحِ الأَنْبِيَاءِ وَ الأَوْلِيَاءِ * خَاصَةً إِلَى رُوْحِ شَاهِ نَقْشَبَنْدِ * وَ شَيْخِنَا الشَّيْخِ عَبْدِ اللهِ الدَّغَسْتَانِى * وَ مَوْلاَنَا الشَّيْخِ مُحَمَّدٍ ناَظِمِ الْحَقَّانِ * وَ أُسْتَاذِنا َ مَوْلاَنَا الشَّيْخِ مُحَمَّدٍ آدِل اَرَّبَّانِ * وَ الصِّدِّيْقِيْنَ الْفَاتِحَةِ.



    </font>
</p>
<p>
    @Loc["s7"]

</p>
<p>
    @Loc["t7"]
</p>
