@page "/duabeforefajr"
@using System.Globalization
@inject IStringLocalizer<DuaBeforeFajr> Loc
@inject NavigationManager NavigationManager

<h4>@Loc["Duas Before Salaah"]</h4>


<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        إِقَامُ الصَّلاَةِ وَ إِيْتَاءُ الزَّكَاةِ وَ صَوْمُ رَمَضَانَ وَ حَجُّ الْبَيْتِ حَقٌّ * آمَنْتُ بِاللهِ وَ مَلآئِكَتِهِ وَ كُتُبِهِ وَ رُسُلِهِ وَ الْيَوْمِ الآخِرِهِ وَ بِالْقَدْرِ خَيْرِهِ وَ شَرِّهِ مِنَ اللهِ تَعَالَى حَقَّ قَبُوْلٍ يَا رَبِّ.
    </font>
</p>
<p>
    @Loc["s3"]

</p>
<p>
    @Loc["t3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        سُبْحَانَ اللهِ وَ بِحَمْدِهِ * سُبْحِانَ اللهِ الْعَظِيْمِ * أَسْتَغْفِرُ الله (100 مرات).
    </font>
</p>
<p>
    @Loc["s4"]

</p>
<p>
    @Loc["t4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        أَسْتَغْفِرُ اللهَ الْعَظِيْمَ مِنْ كُلِّ ذَنْبٍ وَ مَعْصِيَةٍ * وَ مِنْ كُلِّ مَا يُخَالِفُ دِيْنَ الإِسْلاَمِ * وَ مِنْ كُلِّ مَا يُخَالِفُ الشَّرِيْعَةَ * وَ مِنْ كُلِّ مَا يُخَالِفُ الطَّرِيْقَةَ * وَ مِنْ كُلِّ مَا يُخَالِفُ الْمَعْرِفَةَ * وَ مِنْ كُلِّ مَا يُخَالِفُ الْحَقِيْقَة َ* وَ مِنْ كُلِّ مَا يُخَالِفُ الْعَزِيْمَةَ * يَا أَرْحَمَ الرَّاحِمِيْنَ.
    </font>
</p>
<p>
    @Loc["s5"]

</p>
<p>
    @Loc["t5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        أَسْتَغْفِرُ اللهَ الْعَظِيْمَ وَ أَتُوْبُ إِلَيْهِ (100 مرات)
    </font>
</p>
<p>
    @Loc["s6"]

</p>
<p>
    @Loc["t6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        تَوْبَةَ عَبْدٍ ظَالِمٍ لِنَفْسِهِ لاَ يَمْلِكُ لِنَفْسِهِ مَوْتًا وَ لاَ حَيَاةً وَ لاَ نُشٌوْرًا * اَللّٰهُمَّ أَنْتَ رَبِّى * لاَ إِلٰهَ إِلاَّ أَنْتَ * خَلَقْتَنِى * وَ أَنَا عَبْدُك َ* وَ أَنَا عَلٰى عَهْدِكَ وَ وَعْدِكَ مَا اسْتَطَعْتُ * أَعُوْذُ بِكَ مِنْ شَرِّ مَا صَنَعْتُ * وَ أَبُوْءُ لَكَ بِنِعْمَتِكَ عَلَيَّ * وَ أَبُوْءُ بِذِنْبِى * فَاغْفِرْ لِى فَإِنَّهُ لاَ يَغْفِرُ الذُنُوْبَ إِلاَّ أَنْتَ يَا اَللهُ.
    </font>
</p>
<p>
    @Loc["s7"]

</p>
<p>
    @Loc["t7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        أَعُوْذُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ * رَبَّنَا لاَ تُزِغْ قُلُوْبَنَا بَعْدَ إِذْ هَدَيْتَنَا وَ هَبْ لَنَا مِنْ لَّدُنْكَ رَحْمَةً * إِنَّكَ أَنْتَ الْوَهَّابُ.
    </font>
</p>
<p>
    @Loc["s8"]

</p>
<p>
    @Loc["t8"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        يَا وَهَّابُ * يَا وَهَّابُ * يَا وَهَّابُ * يَا مُسَبِّبَ الأَسْبَابِ * يَا مُفَتِّحَ الأَبْوَابِ * يَا مُقَلِّبَ الْقُلُوْبِ وَ الأَبْصَارِ * يَا دَلِيْلَ الْمُتَحَيِّرِيْنَ * يَا غِيَاثَ الْمُسْتَغِيْثِيْنَ * يَا حَيُّ يَا قَيُّوْمُ * يَا ذَا الْجَلاَلِ وَ الإِكْرَامِ * وَ أُفَوِّضُ أَمْرِى إِلَى اللهِ * إِنَّ اللهَ بَصِيْرٌ بِالْعِبَادِ.
    </font>
</p>
<p>
    @Loc["s9"]

</p>
<p>
    @Loc["t9"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        يَا مَنْ لاَ مَلْجَأَ مِنْهُ إِلاَّ إِلَيْهِ فَلاَ تُخَيِّبْ رَجَاءَنَا يَا قَدِيْمَ الإِحْسَانِ * لاَ تَقْنَطُوْا مِنْ رَحْمَةِ اللهِ * إِنَّ اللهَ يَغْفِرُ الذُّنُوْبَ جَمِيْعًا * إِنَّهُ هُوَ الْغَفُوْرُ الرَّحِيْمُ * اللّٰهُمَّ إِنَّا نَسْأَلُكَ الْعَفْوَ وَ الْعَافِيَةَ فِى الدِّيْنِ وَ الدُّنْيَا وَ الآخِرَةِ * اللّٰهُمَّ اسْتُرْنَا بِسِتْرِكَ الْجَمِيْلِ * اللّٰهُمَّ اسْتُرْ عَوْرَتِى وَ آمِنْ رَوْعَتِى وَ اقْضِ لِى دَيْنِى * اللّٰهُمَّ إِنَّا نَعُوْذُ بِكَ مِنْ جَهْدِ الْبَلاَءِ وَ دَرَكِ الشَّقَاءِ وَ سُوْءِ الْقَضَاءِ وَ شَمَاتَةِ اْلأَعْدَاءِ * بِحُرْمَةِ مَنْ أَرْسَلْتَهُ رَحْمَةً لِلْعَالَمِيْنَ.
    </font>
</p>
<p>
    @Loc["s10"]

</p>
<p>
    @Loc["t10"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        اَللّٰهُمَّ صَلِّ عَلٰى مُحَمَّدٍ * صَلاَةً تُنْجِيْنَا بِهَا مِنْ جَمِيْعِ الأَهْوَالِ وَ الآفَاتِ * وَ تَقْضِى لَنَا بِهَا جَمِيْعَ الْحَاجَاتِ * وَ تُطَهِّرُنَا بِهَا مِنْ جَمِيْعِ السَّيِّئَاتِ * وَ تَرْفَعُنَا بِهَا عِنْدَكَ أَعْلَى الدَّرَجَاتِ * وَ تُبَلِّغُنَا بِهَا أَقْصَى الْغَايَاتِ مِنْ جَمِيْعِ الْخَيْرَاتِ فِى الْحَيَاةِ وَ بَعْدَ الْمَمَاتِ.
    </font>
</p>
<p>
    @Loc["s11"]

</p>
<p>
    @Loc["t11"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        اللّٰهُمَّ أَصْلِحْ أُمَّةَ مُحَمَّدٍ (ﷺ) * اللّٰهُمَّ ارْحَمْ أُمَّةَ مُحَمَّدٍ (ﷺ) * اللّٰهُمَّ اسْتُرْ أُمَّةَ مُحَمَّدٍ (ﷺ) * اللّٰهُمَّ اغْفِرْ لأِ أُمَّةَ مُحَمَّدٍ (ﷺ) * اللّٰهُمَّ احْفَظْ أُمَّةَ مُحَمَّدٍ (ﷺ) * اللّٰهُمَّ انْصُرْ أُمَّةَ مُحَمَّدٍ (ﷺ) * يَا أَرْحَمَ الرَّاحِمِيْنَ إِرْحَمْنَا * يَا أَرْحَمَ الرَّاحِمِيْنَ فَاعْفُ عَنَّا * يَا أَرْحَمَ الرَّاحِمِيْنَ * يَا غَفَّارَ الذُّنُوْبِ * يَا سَتَّارَ الْعُيُوْبِ * يَا فَتَّاحَ الْقُلُوْبِ * اللّٰهُمَّ اسْقِنَا الْغَيْثَ سُقْيًا رَحْمَةً * وَ لاَ تَجْعَلْنَا مِنَ الْقَانِطِيْنَ * آمِيْنَ * وَ سَلاَمٌ عَلٰى الْمُرْسَلِيْنَ وَ الْحَمْدُ لِلّٰهِ رَبِّ الْعَالَمِيْنَ.
    </font>
</p>
<p>
    @Loc["s12"]

</p>
<p>
    @Loc["t12"]
</p>
<div class="table-responsive">
    <table class="table table-bordered table-sm" style="height:150px;vertical-align:middle;z-index:10">
        <tr>
            <td align="center"><div @onclick="NavigateToSS"><img src="/images/book.png" style="width:auto;height:60px" /><br><font style="font-size:12px">@Loc["surahsincerity"]</font></div></td>

        </tr>
    </table>
</div>
@code {
    private void NavigateToSS() { NavigationManager.NavigateTo("surahsincerity"); }
}

<br />
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُوْنَ * وَ سَلاَمٌ عَلٰى الْمُرْسَلِيْنَ * وَ الْحَمْدُ لِلّٰهِ رَبِّ الْعَالَمِيْنَ * لاَ إِلٰهَ إِلاَّ اللهُ وَحْدَهُ لآ شَرِيْكَ لَهُ * لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُلا * يُحْيِى وَ يُمِيْتُ * وَ هُوَ حَيٌّ دَائِمٌ لاَ يَمُوْتُ بِيَدِهِ الْخَيْرُ وَ هُوَ عَلٰى كُلِّ شَيْءٍ قَدِيْرٌ.
    </font>
</p>
<p>
    @Loc["s13"]

</p>
<p>
    @Loc["t13"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        إِلَى شَرَفِ النَّبِيِّ (ﷺ) * وَ آلِهِ وَ أَصْحَابِهِ الْكِرَامِ * وَ إِلَى مَشَايِخِنَا فِى الطَّرِيْقَةِ النَّقْشَبَنْدِيَّةِ الْعَلِيَّةِ * خَاصَّةً إِلَى رُوْحِ إِمَامِ الطَّرِيْقَةِ وَ غَوْثِ الْخَلِيْقَةِ شَاه بَهَاءُ الدِّيْنِ نَقْشَبَنْدِ مُحَمَّدٍ الأُوَيْسِ الْبُخَارِى * وَ إِلَى مَوْلاَنَا سُلْطَانِ الأَوْلِيَاءِ شَيْخِ عَبْدِ اللهِ الْفَائِزِ الدَّغَسْتَانِى * وَ إِلَى مَوْلاَنَا سُلْطَانِ الأَوْلِيَاءِ شَيْخِ مُحَمَّدٍ ناَظِمِ الْحَقَّانِ * وَ أُسْتَاذِنا َ مَوْلاَنَا الشَّيْخِ مُحَمَّدٍ آدِل اَرَّبَّانِ * وَ سَائِرِ سَادَاتِنَا وَ الصِّدِّيْقِيْنَ الْفَاتِحَةِ.

    </font>
</p>
<p>
    @Loc["s14"]

</p>
<p>
    @Loc["t14"]
</p>
<div class="table-responsive">
    <table class="table table-bordered table-sm" style="height:150px;vertical-align:middle;z-index:10">
        <tr>
            <td align="center"><div @onclick="NavigateToSF"><img src="/images/book.png" style="width:auto;height:60px" /><br><font style="font-size:12px">@Loc["surahfatiha"]</font></div></td>

        </tr>
    </table>
</div>
@code {
    private void NavigateToSF() { NavigationManager.NavigateTo("surahfatiha"); }
}

<br />
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَعُوْذُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ * بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ * وَ إلٰهُكُمْ إِلٰهٌ وَّاحِدٌ لاَ إِلٰهَ إِلاَّ هُوَ الرَّحْمٰنُ الرَّحِيْمُ.
    </font>
</p>
<p>
    @Loc["s15"]

</p>
<p>
    @Loc["t15"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        مِنْهَا خَلَقْنَاكُمْ وَ فِيْهَا نُعِيْدُكُمْ وَ مِنْهَا نُخْرِجُكُمْ تَارَةً أُخْرَى * وَ إِنَّا لِلّٰهِ وَ إِنَّا إِلَيْهِ رَاجِعُوْنَ * فَالْحُكْمُ لِلّٰهِ الْعَلِيِّ الْكَبِيْرِ.
    </font>
</p>
<p>
    <strong>@Loc["i16"]</strong>

</p>
<p>
    @Loc["s16"]

</p>
<p>
    @Loc["t16"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        اَللّٰهُمَّ ثَبِّتْنَا عَلٰى الإِيْمَانِ
    </font>
</p>
<p>
    @Loc["s17"]

</p>
<p>
    @Loc["t17"]
</p>