@page "/duabefore"
@using System.Globalization
@inject IStringLocalizer<DuaBefore> Loc

<h4>@Loc["Duas Before Salaah"]</h4>


<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَعُوْذُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ * بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ * سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُوْنَ * وَ سَلاَمٌ عَلٰى الْمُرْسَلِيْنَ * وَ الْحَمْدُ لِلّٰهِ رَبِّ الْعَالَمِيْن
    </font>
</p>
<p>
    @Loc["s3"]
    
</p>
<p>
    @Loc["t3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">


        إِلَى شَرَفِ النَّبِيِّ (ﷺ) * وَ آلِهِ وَ أَصْحَابِهِ الْكِرَامِ * وَ إِلَى مَشَايِخِنَا فِى الطَّرِيْقَةِ النَّقْشَبَنْدِيَّةِ الْعَلِيَّةِ * خَاصَّةً إِلَى رُوْحِ إِمَامِ الطَّرِيْقَةِ وَ غَوْثِ الْخَلِيْقَةِ شَاه بَهَاءُ الدِّيْنِ نَقْشَبَنْدِ مُحَمَّدٍ الأُوَيْسِ الْبُخَارِى * وَ إِلَى مَوْلاَنَا سُلْطَانِ الأَوْلِيَاءِ شَيْخِ عَبْدِ اللهِ الْفَائِزِ الدَّغَسْتَانِى * وَ إِلَى مَوْلاَنَا سُلْطَانِ الأَوْلِيَاءِ شَيْخِ مُحَمَّدٍ ناَظِمِ الْحَقَّانِ * وَ أُسْتَاذِنا َ مَوْلاَنَا الشَّيْخِ مُحَمَّدٍ آدِل اَرَّبَّانِ * وَ سَائِرِ سَادَاتِنَا وَ الصِّدِّيْقِيْنَ الْفَاتِحَةِ.


    </font>
</p>
<p>
    @Loc["s4"]
    
</p>
<p>
    @Loc["t4"]
</p>

