@page "/iqamah"
@using System.Globalization
@inject IStringLocalizer<Iqamah> Loc

<h4>@Loc["Iqamah"]</h4>

<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱللَّٰهُ أَكْبَرُ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَشْهَدُ أَن لَّا إِلَٰهَ إِلَّا ٱللَّٰهُ
    </font>
</p>
<p>
    @Loc["s4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَشْهَدُ أَنَّ مُحَمَّدًا رَسُولُ ٱللَّٰهِ
    </font>
</p>
<p>
    @Loc["s5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        حَيَّ عَلَى ٱلصَّلَاةِ
    </font>
</p>
<p>
    @Loc["s6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        حَيَّ عَلَى ٱلْفَلَاحِ
    </font>
</p>
<p>
    @Loc["s7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        قَدْ قَامَتِ الصَّلَاةُ
    </font>
</p>
<p>
    @Loc["s10"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱللَّٰهُ أَكْبَرُ
    </font>
</p>
<p>
    @Loc["s8"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        لَا إِلَٰهَ إِلَّا ٱللَّٰهُ
    </font>
</p>
<p>
    @Loc["s9"]
</p>


