@page "/surahmen"
@using System.Globalization
@inject IStringLocalizer<SurahMen> Loc

<h4>@Loc["Surah of Men"]</h4>


<h6>@Loc["s0"]</h6>
<audio controls id="sound" src="/media/men.mp3" />

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        قُلۡ أَعُوذُ بِرَبِّ ٱلنَّاسِ
    </font>
</p>
<p>
    @Loc["s4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        مَلِكِ ٱلنَّاسِ
    </font>
</p>
<p>
    @Loc["s5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        إِلَٰهِ ٱلنَّاسِ
    </font>
</p>
<p>
    @Loc["s6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        مِن شَرِّ ٱلۡوَسۡوَاسِ ٱلۡخَنَّاسِ
    </font>
</p>
<p>
    @Loc["s7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱلَّذِي يُوَسۡوِسُ فِي صُدُورِ ٱلنَّاسِ
    </font>
</p>
<p>
    @Loc["s8"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        مِنَ ٱلۡجِنَّةِ وَٱلنَّاسِ
    </font>
</p>
<p>
    @Loc["s9"]
</p>


