@page "/surahdaybreak"
@using System.Globalization
@inject IStringLocalizer<SurahDaybreak> Loc

<h4>@Loc["Surah of Daybreak"]</h4>


<h6>@Loc["s0"]</h6>
<audio controls id="sound" src="/media/daybreak.mp3" />

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        قُلۡ أَعُوذُ بِرَبِّ ٱلۡفَلَقِ
    </font>
</p>
<p>
    @Loc["s4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        مِن شَرِّ مَا خَلَقَ
    </font>
</p>
<p>
    @Loc["s5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        وَمِن شَرِّ غَاسِقٍ إِذَا وَقَبَ
    </font>
</p>
<p>
    @Loc["s6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        وَمِن شَرِّ ٱلنَّفَّـٰثَٰتِ فِي ٱلۡعُقَدِ
    </font>
</p>
<p>
    @Loc["s7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        وَمِن شَرِّ حَاسِدٍ إِذَا حَسَدَ
    </font>
</p>
<p>
    @Loc["s8"]
</p>


