@page "/surahfatiha"
@using System.Globalization
@inject IStringLocalizer<SurahFatiha> Loc

<h4>@Loc["Surah Fatiha"]</h4>


<h6>@Loc["s0"]</h6>
<audio controls id="sound" src="/media/fatiha.mp3" />

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
    </font>
</p>
<p>
    @Loc["s4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
    </font>
</p>
<p>
    @Loc["s5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        مَٰلِكِ يَوۡمِ ٱلدِّينِ
    </font>
</p>
<p>
    @Loc["s6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ
    </font>
</p>
<p>
    @Loc["s7"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱهۡدِنَا ٱلصِّرَٰطَ ٱلۡمُسۡتَقِيمَ
    </font>
</p>
<p>
    @Loc["s8"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        صِرَٰطَ ٱلَّذِينَ أَنۡعَمۡتَ عَلَيۡهِمۡ غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ وَلَا ٱلضَّآلِّينَ
    </font>
</p>
<p>
    @Loc["s9"]
</p>


