@page "/surahsincerity"
@using System.Globalization
@inject IStringLocalizer<SurahSincerity> Loc

<h4>@Loc["Surah of Sincerity"]</h4>


<h6>@Loc["s0"]</h6>
<audio controls id="sound" src="/media/sincerity.mp3" />

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        قُلۡ هُوَ ٱللَّهُ أَحَدٌ
    </font>
</p>
<p>
    @Loc["s4"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        ٱللَّهُ ٱلصَّمَدُ
    </font>
</p>
<p>
    @Loc["s5"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        لَمۡ يَلِدۡ وَلَمۡ يُولَدۡ
    </font>
</p>
<p>
    @Loc["s6"]
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        وَلَمۡ يَكُن لَّهُۥ كُفُوًا أَحَدُۢ
    </font>
</p>
<p>
    @Loc["s7"]
</p>


