@page "/wudhu"
@using System.Globalization
@inject IStringLocalizer<Wudhu> Loc

<h4>@Loc["Wudhu"]</h4>

<h5>@Loc["s0"]</h5>


<p>
    <h6>@Loc["s3"]</h6> 
    @Loc["s4"] <br />
    <img src="/images/niyyah.jpg" style="width:auto;height:100px" /> <br />
    <em>@Loc["s5"]</em> <br />
    <em>@Loc["s6"]</em>
</p>

<p>
    <h6>@Loc["s7"]</h6> 
    @Loc["s8"] <br />
    <img src="/images/wudhu1.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s9"]
</p>

<p>
    <h6>@Loc["s10"]</h6> 
    @Loc["s11"] <br />
    <img src="/images/wudhu2.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s12"]
</p>

<p>
    <h6>@Loc["s13"]</h6> 
    @Loc["s14"] <br />
    <img src="/images/wudhu3.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s15"]
</p>

<p>
    <h6>@Loc["s16"]</h6>
    @Loc["s17"] <br />
    <img src="/images/wudhu4.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s18"]
</p>

<p>
    <h6>@Loc["s19"]</h6>
    @Loc["s20"] <br />
    <img src="/images/wudhu5.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s21"]
</p>

<p>
    <h6>@Loc["s22"]</h6>
    @Loc["s23"] <br />
    <img src="/images/wudhu6.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s24"]
</p>

<p>
    <h6>@Loc["s25"]</h6>
    @Loc["s26"] <br />
    <img src="/images/wudhu7.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s27"]
</p>

<p>
    <h6>@Loc["s28"]</h6>
    @Loc["s29"] <br />
    <img src="/images/wudhu8.jpg" style="width:auto;height:100px" /> <br />
    @Loc["s30"]
</p>

<h5>@Loc["s31"]</h5>
<p>
    @Loc["s32"] <br />
</p>


